# <font color="purple">IRIS dataset </font>
***

### Summary of IRIS dataset:
***

The IRIS dataset, created in 1936, is a popular dataset commonly used for exploring data analysis and data visualisation.

The dataset consists of measurements for 3 different species (setosa, versicolor, ) of Iris flowers.


|Setosa    |Versicolor | Virginica|
|-----------|---------------|------------|
|![Setosa](https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Kosaciec_szczecinkowaty_Iris_setosa.jpg/180px-Kosaciec_szczecinkowaty_Iris_setosa.jpg)|![Versicolor](https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Iris_versicolor_3.jpg/320px-Iris_versicolor_3.jpg)|![Virginica](https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Iris_virginica.jpg/295px-Iris_virginica.jpg)|

There are 50 entries of each species of Iris detailed in the dataset.

Four characteristics of the flowers were tracked including sepal length (cm), sepal width (cm), petal length (cm) and petal width (cm).

### How to run analysis.py program:
***

### analysis.py code explained: 
***

#### Libaries used:
***

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
# fetching data from csv file
df = pd.read_csv('iris_data.csv')

In [17]:
# taking a quick look at the data to verify it's loaded
print (df)

     sepal length (cm)   sepal width (cm)   petal length (cm)  \
0                  5.1                3.5                 1.4
1                  4.9                3.0                 1.4
2                  4.7                3.2                 1.3
3                  4.6                3.1                 1.5
4                  5.0                3.6                 1.4
..                 ...                ...                 ...
145                6.7                3.0                 5.2
146                6.3                2.5                 5.0
147                6.5                3.0                 5.2
148                6.2                3.4                 5.4
149                5.9                3.0                 5.1

      petal width (cm)           class
0                  0.2     Iris-setosa
1                  0.2     Iris-setosa
2                  0.2     Iris-setosa
3                  0.2     Iris-setosa
4                  0.2     Iris-setosa
..                 ...             ...
145                2.3  Iris-virginica
146                1.9  Iris-virginica
147                2.0  Iris-virginica
148                2.3  Iris-virginica
149                1.8  Iris-virginica

[150 rows x 5 columns]

In [18]:
# Show the different types of values in the data set
df.dtypes

sepal length (cm)     float64
 sepal width (cm)     float64
 petal length (cm)    float64
 petal width (cm)     float64
 class                 object
dtype: object

In [19]:
# Highlevel summary of dataset for the numerical columns 
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.054000,3.758667,1.198667
std,0.828066,0.433594,1.764420,0.763161
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

### External resources used:
***

https://levelup.gitconnected.com/unveiling-the-mysteries-of-the-iris-dataset-a-comprehensive-analysis-and-machine-learning-f5c4f9dbcd6d
https://en.wikipedia.org/wiki/Iris_flower_data_set

***
## End